async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
Pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp==2023.10.13
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
